* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.bold-text {
	font-weight: bold;
}

.italicized-text {
	font-style: italic;
}

.image{
	padding: 10px;
}

.heading {
	padding: 0 10px 0;
	margin: 10px auto 0 auto;
}

.main {
	font-family: sans-serif;
	width: 320px;
	border: 1px solid #EAEAEA;
	box-shadow: 0 2px 5px grey;
}

.information {
	font-size: 12px;
	width: 300px;
	padding: 0 10px;
	margin: 0 0 10px 10px;
	border: 1px solid #ECECEC;
}